# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
env/

# Data files
data/raw/*
data/processed/*
data/database/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/database/.gitkeep

# Power BI temporary files
*.tmp
*.bak

# System files
.DS_Store

# Environment files
.env

# Large exports
*.zip
*.xlsx
*.csv
*.db
*.sqlite